<td>
  <%= user&.name %>
</td>

<td>
  <%= link_to user.email, user %>
</td>

<td>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map { |role| [role.titleize, role] }) %>
    <%= f.submit 'Change Role' %>
  <% end %>
</td>

<td>
  <% unless user == current_user %>
    <%= button_to 'Delete user', user_path(user), method: :delete %>
  <% end %>
</td>
